@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0; 
    padding: 0;
    border: 0; 
    outline:0; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#root {
    left: 0px;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

}


body{
    content: "";
    background: linear-gradient(-45deg,
     #07000a,
     #151060,
     rgb(97, 15, 97));
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    background-position: center;
    animation: gradient 4s ease infinite;
    height: 100%;
    background-size: 400% 400%;
    display: block;


}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

:root{
    --color--bg: rgb(247, 216, 247); 
    --color-bg-variant: rgb(114, 73, 208); 
    /* --color-bg-variant: rgb(131, 81, 167);  */

    --color-primary: blue; 
    --color-primary-variant:rgb(247, 216, 222); 
    --color-white: blue; 
    --color-light:  rgb(247, 216, 222); 

    --transition: all 400ms ease; 

    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%; 
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display:none;
}

/* body{
    font-family: 'Poppins', sans-serif;
    background: violet;
    color:var(--color-white); 
    line-height: 1.7;
    
} */

/* GENERAL STYLES */

.container{
    width: var(--container-width-lg);
    margin:0 auto; 

}

h1, h2, h3, h4, h5{
    font-weight: 600;

}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 8rem;
    
   

}

section > h2, section > h5{
    text-align: center;
    color:var(--color-light); 
    border-color: #1f010d;
    font-size: 2.5rem;
    box-shadow: #2b0212;

}

section>h2{
    color: var(--color-primary);
    margin-bottom: 3rem;
    
}

.text-light{
    color:var(--color-light);
}

a{
    color:var(--color-primary);
    transition: var(--transition); 
    
}
a:hover{
    color: var(--color-white);
}

.btn{
    width:max-content; 
    display:inline-block; 
    color: var(--color-primary);
    padding: 15px; 
    border-radius: 0.6rem; 
    cursor: pointer; 
    border: 5px solid var(--color-primary); 
    transition: var(--transition);
}

.btn:hover{
    background:transparent;
    color: white; 
    border-color:rgb(50, 45, 183);     
    padding: 16px;   
    border: 6px solid white; 
  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ; 
    
}

.btn-primary{
    background: var(--color-primary); 
    color: white; 



}


img{
    display:block; 
    width: 100%; 
    object-fit: cover;
}



    
@media screen and (max-width: 1800px){

    }

/* MEDIA QUERIES (medium devices) */

@media screen and (max-width: 1024px){
    .container{
        width:var(--container-width-md);
    }

    section{
        margin-top: 6rem;  
    }
}


/* MEDIA QUERIES (small devices) */
@media screen and (max-width: 600px){
    .container{
        width:var(--container-width-sm);
    }

    section>h2{
        margin-bottom: 2rem;  
    }

    body{
        
        background:#151060;
        width: 100%;
    }

    .btn {
        margin-left: 1.5rem;
    }
}
